// Estilização do slider de filmes

.carousel{
  @include create-container (100%, auto, 0px, 0px, $pure-dark);
  -webkit-box-shadow: 0px -40px 57px 50px rgba(18,18,18,1);
  -moz-box-shadow: 0px -40px 57px 50px rgba(18,18,18,1);
  box-shadow: 0px -40px 57px 50px rgba(18,18,18,1);
  padding-bottom: 46px;
  position: relative;
  z-index: 1;

  h3{
    @include text-style($regular, 20px , $regular, $light-text);
    padding: 0px 46px;
    padding-top: 24px;
    margin-bottom: 32px;
    
  }

  p{
    @include text-style($regular, 16px, $semi-bold, $pure-dark);
    width: 100%;
    text-align: center;
    margin: 32px 0px;
  }

  &:hover{
    > p{
      color: $sub-text;
      transition: .3s;
    }
  }

  .owl-carousel{
    
    .item{

      img{
        width: 100%;
        max-width: 350px;
        height: 100%;
        max-height: 420px;
        border: solid 4px $pure-dark;
        border-radius: 2px;
        opacity: 0.6;

        &:hover{
          cursor: pointer;
          transition: .2s;
          // border: solid 4px $light-text;
          opacity: 1;
          filter: saturate(1.2);
         
        }
      }
      
    }
  }
}

// Responsivo
@media screen and (max-width: 720px ){
    .carousel{
      h3{
        font-size: 18px;
        text-align: left;
        padding: 0px 36px;
        padding-top: 8px;
      }
    }
}

@media screen and (max-width: 400px ){
  .carousel{
    z-index: 2;
    h3{
      text-align: center;
      margin-top: -30px;
    }
  }
}