// Propriedades das fontes

body{
    font-family: 'Roboto', sans-serif;
}

// Tipo de fonte
$title: 'Bebas Neue', sans-serif;
$regular: 'Roboto', sans-serif;

//Espessura
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

