//Estilização do cabeçalho

header{
    @include create-container(100%, auto, 20px 46px, 0, $pure-dark);
    @include flexbox(flex, row, center, space-between);

    p{
        @include  text-style($title, 42px, $regular, $red-logo);
        cursor: pointer;
    }
 
    nav{

        a{
            @include  text-style($regular, 18px, $regular, $light-text);
            text-decoration: none;
            margin-left: 20px;
        }
    }

    #header-responsive-btn{
        cursor: pointer;
        display: none;
        color: $light-text;
        font-size: 36px;
    }
   
}

// Responsivo

@media screen and (max-width : 700px){

   header{
        padding: 20px 32px;
        #header-responsive-btn{
            display: block;
        }

        nav{
            display: none;
        }
    }

}

@media screen and (max-width : 400px){
    header{
        p{
            font-size: 36px;
        }
        #header-responsive-btn{
            font-size: 30px;
        }
    }
}