//Estilização do corpo principal e seção principal

main{
    @include create-container(100%, auto, 0px, 0px, transparent);
    
    section{
        @include create-container (100%, 700px, 0px, 0px, transparent);
        @include flexbox(flex, column, left, center);
        background: linear-gradient( $section-gradient-dark 0%, $dark-background 100%), url('../images/section-banner-stranger-things.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        .section-info{
            padding: 0px 64px;

            img{
                max-width: 500px;
                height: auto;
                margin-bottom: 42px;
            }
           
            p{
                @include  text-style($regular, 16px, $regular, $light-text);
                line-height: 24px;
                max-width: 600px;
                margin: 20px 0px;

                span{
                    font-size: 14px;
                    border: solid 1px $light-text;
                    padding: 0px 4px;
                }

                a{
                    @include  text-style($regular, 16px, $regular, $light-text);
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .section-buttons-wrapper{
                @include create-container(100%, auto, 0px, 0px, none);
                @include flexbox(flex, row, center, left);
                text-transform: uppercase;
                margin-top: 60px;

                .section-btn{
                    @include create-container(100%, auto, 12px, 0px, transparent);
                    @include flexbox(flex, row, center, center);
                    @include  text-style($regular, 16px, $semi-bold, $light-text);
                    max-width: 250px;
                    text-decoration: none;
                    cursor: pointer;
                    border: solid 1px $light-text;
                    border-radius: 2px;
                    margin-right: 30px;
                    
                    .material-icons{
                        margin-right: 12px;
                    }

                    &:hover{
                        border-color: $dark-component;
                        background-color: $light-text;
                        color: $dark-component;
                        transition: .2s;
                    }
                }
            }
        }
    }
}

// Responsivo
@media screen and (max-width: 675px){
  main{
    section {
        .section-info{
            @include flexbox(flex, column, center, center);
            padding: 0px 32px;
            z-index: 3;
            img{
                width: 100%;
                max-width: 450px;
            }
            
            p{
                font-size: 15px;
                width: 100%;
                max-width: 450px;
                text-align: center;
            }
            .section-buttons-wrapper{
                @include flexbox(flex, column, center, center);
                flex-direction: column;
                width: 100%;
                max-width: 300px;
                margin-top: 20px;

                .section-btn{
                    font-size: 14px;
                    max-width: 100%;
                    margin: 0px;
                    margin-bottom: 12px;

                    .material-icons{
                        font-size: 22px;
                    }
                }
            }
        }
        
    }
  }
}

@media screen and (max-width: 380px){
    main{
        section{
            .section-info{
                p{
                    max-width: 320px;
                }

                .section-buttons-wrapper{
                 
    
                    .section-btn{
                        font-size: 14px;
                        max-width: 250px;
                        margin-bottom: 16px;
                    
                    }
                }
            }
        }
    }
}